<a href="https://colab.research.google.com/github/vidjaydas/Data_Science_Python/blob/main/Recommendation_Engine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np

In [12]:
movies_df = pd.read_csv('/content/Movie.csv')

In [13]:
movies_df[0:5]

   userId             movie  rating
0       3  Toy Story (1995)     4.0
1       6  Toy Story (1995)     5.0
2       8  Toy Story (1995)     4.0
3      10  Toy Story (1995)     4.0
4      11  Toy Story (1995)     4.5

In [14]:
movies_df.shape

(8992, 3)

In [15]:
#number of unique users in the dataset
len(movies_df.userId.unique())

4081

In [16]:
len(movies_df.movie.unique())

10

In [19]:
user_movies_df = movies_df.pivot(index= 'userId',
                                 columns = 'movie',
                                 values = 'rating').reset_index(drop=True)

In [20]:
user_movies_df

movie  Father of the Bride Part II (1995)  ...  Waiting to Exhale (1995)
0                                     NaN  ...                       NaN
1                                     NaN  ...                       NaN
2                                     NaN  ...                       NaN
3                                     NaN  ...                       NaN
4                                     NaN  ...                       NaN
...                                   ...  ...                       ...
4076                                  4.0  ...                       NaN
4077                                  3.5  ...                       NaN
4078                                  NaN  ...                       NaN
4079                                  NaN  ...                       NaN
4080                                  NaN  ...                       NaN

[4081 rows x 10 columns]

In [21]:
#Replace the index value with userId
user_movies_df.index = movies_df.userId.unique()

In [22]:
  user_movies_df

movie  Father of the Bride Part II (1995)  ...  Waiting to Exhale (1995)
3                                     NaN  ...                       NaN
6                                     NaN  ...                       NaN
8                                     NaN  ...                       NaN
10                                    NaN  ...                       NaN
11                                    NaN  ...                       NaN
...                                   ...  ...                       ...
7044                                  4.0  ...                       NaN
7070                                  3.5  ...                       NaN
7080                                  NaN  ...                       NaN
7087                                  NaN  ...                       NaN
7105                                  NaN  ...                       NaN

[4081 rows x 10 columns]

In [23]:
# Impute those NANs with 0 values
user_movies_df.fillna(0, inplace=True)

In [24]:
user_movies_df

movie  Father of the Bride Part II (1995)  ...  Waiting to Exhale (1995)
3                                     0.0  ...                       0.0
6                                     0.0  ...                       0.0
8                                     0.0  ...                       0.0
10                                    0.0  ...                       0.0
11                                    0.0  ...                       0.0
...                                   ...  ...                       ...
7044                                  4.0  ...                       0.0
7070                                  3.5  ...                       0.0
7080                                  0.0  ...                       0.0
7087                                  0.0  ...                       0.0
7105                                  0.0  ...                       0.0

[4081 rows x 10 columns]

In [25]:
# Calculating Cosine Similarity between Users
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [27]:
user_sim = 1 - pairwise_distances(user_movies_df.values, metric = 'cosine')

#Pairwise gives us the opp of cosine thats why we are using -1

In [28]:
user_sim

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.55337157],
       [0.        , 1.        , 0.        , ..., 0.45883147, 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.45883147, 1.        ,
        0.62254302],
       ...,
       [0.        , 0.45883147, 0.45883147, ..., 1.        , 0.45883147,
        0.47607054],
       [0.        , 0.        , 1.        , ..., 0.45883147, 1.        ,
        0.62254302],
       [0.55337157, 0.        , 0.62254302, ..., 0.47607054, 0.62254302,
        1.        ]])

In [29]:
#Store the result in a dataframe
user_sim_df = pd.DataFrame(user_sim)

In [30]:
user_sim_df

          0         1         2     ...      4078      4079      4080
0     1.000000  0.000000  0.000000  ...  0.000000  0.000000  0.553372
1     0.000000  1.000000  0.000000  ...  0.458831  0.000000  0.000000
2     0.000000  0.000000  1.000000  ...  0.458831  1.000000  0.622543
3     0.000000  0.000000  0.000000  ...  0.619422  0.000000  0.000000
4     1.000000  0.000000  0.000000  ...  0.000000  0.000000  0.553372
...        ...       ...       ...  ...       ...       ...       ...
4076  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000
4077  0.000000  0.000000  0.752577  ...  0.345306  0.752577  0.468511
4078  0.000000  0.458831  0.458831  ...  1.000000  0.458831  0.476071
4079  0.000000  0.000000  1.000000  ...  0.458831  1.000000  0.622543
4080  0.553372  0.000000  0.622543  ...  0.476071  0.622543  1.000000

[4081 rows x 4081 columns]

In [31]:
#Set the index and column names to user ids
user_sim_df.index = movies_df.userId.unique()
user_sim_df.columns = movies_df.userId.unique()

In [32]:
user_sim_df.iloc[0:5, 0:5]

     3    6    8    10   11
3   1.0  0.0  0.0  0.0  1.0
6   0.0  1.0  0.0  0.0  0.0
8   0.0  0.0  1.0  0.0  0.0
10  0.0  0.0  0.0  1.0  0.0
11  1.0  0.0  0.0  0.0  1.0

In [34]:
np.fill_diagonal(user_sim, 0)
user_sim_df.iloc[0:5, 0:5]

     3    6    8    10   11
3   0.0  0.0  0.0  0.0  1.0
6   0.0  0.0  0.0  0.0  0.0
8   0.0  0.0  0.0  0.0  0.0
10  0.0  0.0  0.0  0.0  0.0
11  1.0  0.0  0.0  0.0  0.0

In [35]:
# Most Similar Users
user_sim_df.idxmax(axis=1)[0:5]

3       11
6      168
8       16
10    4047
11       3
dtype: int64

In [36]:
movies_df[(movies_df['userId']==6) | (movies_df['userId']==168)]

      userId                    movie  rating
1          6         Toy Story (1995)     5.0
60       168         Toy Story (1995)     4.5
3725       6  Grumpier Old Men (1995)     3.0
6464       6           Sabrina (1995)     5.0

In [37]:
user_1 = movies_df[movies_df['userId']==6]

In [39]:
user_2 = movies_df[movies_df['userId']==11]

In [40]:
user_2.movie

4       Toy Story (1995)
7446    GoldenEye (1995)
Name: movie, dtype: object

In [41]:
user_1.movie

1              Toy Story (1995)
3725    Grumpier Old Men (1995)
6464             Sabrina (1995)
Name: movie, dtype: object

In [42]:
pd.merge(user_1, user_2, on='movie', how = 'outer')

   userId_x                    movie  rating_x  userId_y  rating_y
0       6.0         Toy Story (1995)       5.0      11.0       4.5
1       6.0  Grumpier Old Men (1995)       3.0       NaN       NaN
2       6.0           Sabrina (1995)       5.0       NaN       NaN
3       NaN         GoldenEye (1995)       NaN      11.0       2.5